@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .success-button {
    @apply text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 
           font-medium rounded-full text-sm px-10 py-2.5 text-center me-2 mb-2 
           dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }

  .danger-button{
    @apply text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }

  .lable{
    @apply block mb-2 text-sm font-medium text-gray-900;
  }

  .input-field{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-1/2 p-2.5;
  }

  .back-button{
    @apply text-white bg-gray-600 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 
  }

   .theme-app {
    --primary-bg: #2b6cfa;      /* blue-600 */
    --primary-bg-light: #3b6df6;/* blue-500 */
    --primary-text: #ffffff;
    --primary-border: #60a5fa;  /* blue-400 */
    --hover-bg: #1d4ed8;        /* blue-700 */

    --secondary-bg: #82cdff;
    --secondary-text: #000000;
  }

  .theme-app .bg-primary {
    background-color: var(--primary-bg);
  }

  .theme-app .bg-primary-light {
    background-color: var(--primary-bg-light);
  }

  .theme-app .text-primary {
    color: var(--primary-text);
  }

  .theme-app .text-secondary {
    color: var(--secondary-text);
  }

  .theme-app .border-primary {
    border-color: var(--primary-border);
  }

  .theme-app .hover\:bg-hover:hover {
    background-color: var(--hover-bg);
  }

  .theme-app .bg-secondary-gradient {
  background-image: linear-gradient(to bottom right, var(--secondary-bg), var(--primary-bg-light));
}


}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}


