@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .success-button {
    @apply text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 
           font-medium rounded-full text-sm px-10 py-2.5 text-center me-2 mb-2 
           dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }

  .danger-button{
    @apply text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }

  .lable{
    @apply block mb-2 text-sm font-medium text-gray-900;
  }

  .input-field{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-1/2 p-2.5;
  }
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}